
@use './vendor';

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #0d101b;
	font-family: 'IBM Plex Sans', sans-serif;
	color: rgb(231, 231, 231);
	text-align: center;
}

code {
	font-family: 'IBM Plex Mono', monospace;
	color: #f3aa23;
}